<% if @beers.count == 0 %>

    <h1>There are not beers currently in this category.</h1>
    
<% else %>
    
    <% if params[:category].blank? == false %>
        <h1 class="current-category"><%= pluralize(@beers.count, params[:category])%></h1>
    <% end %>
    
    <div class="row">
    
        <% @beers.each do |beer| %>
            <div class="col-md-3">
                <a href="/beers/<%= beer.id %>">
					<%= image_tag beer.beer_img.url(:beer_index), class: "beer" %>
				</a>
            </div>
        <% end %>
    
    </div>

    <br />

    <%= link_to 'Add Beer', new_beer_path %>

<% end %>