<% if @beers.count == 0 %>

    <h1>There are not beers currently in this category.</h1>
    
<% else %>
    
    <% if params[:category].blank? == false %>
        <h1 class="current-category"><%= pluralize(@beers.count, params[:category])%></h1>
    <% end %>
    
    <div class="row">
    
        <% @beers.each do |beer| %>
            <div class="col-md-3">
                <div class="beer">
                    <a href="/beers/<%= beer.id %>">
				    	<%= image_tag beer.beer_img.url(:beer_index), class: 'beer-img' %>
			    	</a>
				</div>
            </div>
        <% end %>
    
    </div>

<% end %>